body{
	margin:0;
	padding: 0;
	font-size: 12px;
	color: #333;
	background: url(../images/header_bg.png) repeat-x;
}
#header{
	height: 30px;
	width: 900px;
	margin: 0 auto;
}
#header .logo{
	width: 100px;
	height: 30px;
	float: left;
}
#header .logo img{
	display: block;
}
#header .menber{
	float: right;
	width: 70px;
	line-height: 30px;
	cursor: pointer;
	background: url(../images/arrow.png) no-repeat 55px center;
	position: relative;
}
#header ul{
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	right: -20px;
	background: #FBF7E1;
	width: 100px;
	height: 110px;
	border: 1px solid #999;
	border-top: none;
	padding: 10px 0 0 0;

}
#header ul li{
	height: 25px;
	line-height: 25px;
	text-indent: 20px;
	list-style: none;
	letter-spacing: 1px;
}
#header ul li a{
	text-decoration: none;
	color: #333;
	display: block;
	background: url(../images/arrow3.gif) no-repeat 5px 45%;
}
#header ul li a:hover{
	background: #fc0 url(../images/arrow4.gif) no-repeat 5px 45%;
}
#header .login{
	width: 35px;
	height: 30px;
	line-height: 30px;
	float: right;
	cursor: pointer;
	letter-spacing: 1px;
}

/* 阴影遮照 */
#screen{
	z-index: 9998;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	filter: alpha(opacity=30);
	opacity: 0.3;
	display: none; 
}

/* 登陆框 */
#login{
	width: 350px;
	height: 250px;
	border:1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background-color: #fff;
}
#login h2{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #666;
	background: url(../images/login_header.png) repeat-x;
	margin: 0 0 10px 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: move;
}
#login h2 img{
	position: relative;
	float: right;
	right: 8px;
	top: 13px;
	cursor: pointer;
}
#login div.user,#login div.pass{
	font-size: 14px;
	color: #666;
	padding: 8px 0;
	text-align: center;
}
#login input.text{
	width: 190px;
	height: 25px;
	border:1px solid #ccc;
	background: #fff;
	font-size: 14px;
	padding: 0 5px;
}
#login .button{
	text-align: center;
	padding: 20px 0;
}
#login input.submit{
	width: 107px;
	height: 30px;
	background: url(../images/login_button.png) no-repeat;
	cursor: pointer;
	border: none;
}
#login .other{
	padding: 15px 10px;
	text-align: right;
	color: #666;
}
/* 测试动画效果 */
#box1{
	width: 600px;
	height: 500px;
	position: absolute;
	left: 0;
	top: 30px;
	background-color: red;
	
}
#box1>div{
	width: 100px;
	height: 50px;
	line-height: 50px;
	margin: 10px 0;
	background-color: #b5b5b5;
}